<strong>Ol치, {{provider}}</strong>
<p>Houve um cancelamento de h칩rariio, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong>Data/Hora: </strong> {{date}} <br />
  <br />
  <small>O H칩rario est치 disponivel novamente para agendamento</small>

</p>
